.bargain {
	&_box {
		overflow: hidden;
		border-radius: 5px;
		border: 1px solid $main-color;
	}
	&_lt {
		@include lineht(26px);
		span {
			display: inline-block;
			padding: 0 6px;
			background-color: #57585A;
			color: $white-color;
			border-radius: 4px;
		}
	}
	&_tan {
		display: none;
		@include position(50%,50%,fixed);
		transform: translate(-50%,-50%);
		@include size(280px,338px);
		padding-top: 150px;
		text-align: center;
		background: url(../img/bargain_bg.png) no-repeat center;
		background-size: 100% 100%;
		z-index: 9999;
	}
	&_pic {
		@include size(90px,90px);
	}
	&_bang {
		background-color: rgba($color: $main-color, $alpha: .15);
	}
}