.cart {
    padding: 10px 0;
    margin-bottom: 8px;
    background-color: $white-color;
    color: $tre-color;
    &-img {
        @include size(108px, 108px);
        margin: 70px auto 16px;
    }
    &-text {
        color: $nine-color;
    }
    &-back {
		@include size(180px,40px);
		@include colbg($white-color,$main-color);
		border-radius: 4px;
		line-height: 40px;
		text-align: center;
        margin: 30px auto;
    }
    &-list {
        padding: 10px;
    }
    &-del {
        color: $nine-color;
    }
    &-label {
        width: 70px;
    }
    &-ipt {
        flex: 1;
        &.input::-webkit-input-placeholder {
            color: $nine-color;
        }
	}
	&-num {
		.num_form {
			height: 24px;
			line-height: 22px;
		}
	}
    &-kind {
        border-bottom: 1px solid $border-color;
    }
    &-name {
        margin: 4px 0;
    }
    &-price {
        color: $main-color;
        font-weight: 600;
	}
	&-totle {
        color: $main-color;
		font-weight: bold;
		line-height: 32px;
    }
}

.order {
    &-project {
		padding-bottom: 12px;
        border-bottom: 1px solid $border-color;
	}
	&-cell {
        display: inline-block;
        margin-right: 6px;
        @include size(40px,18px);
        line-height: 18px;
        text-align: center;
        font-size: 8px;
        background-color: $bg-color;
        border-radius: 4px;
        color: $six-color;
    }
	&-title {
        @include rowhide(2,20px);
	}
	&-choice {
        position: relative;
        @include size(16px,
        96px);
    }
    &-box {
        position: absolute;
        top: 40px;
        left: 0;
        @include size(16px,
        16px);
    }
    &-pic {
        @include size(90px,
        90px);
        margin: 0 12px;
    }
    &-cont {
        flex: 1;
        font-size: 13px;
    }
    &-kind {
        height: 32px;
    }
    &-xiaoji {
        height: 40px;
        line-height: 32px;
        padding-right: 12px;
        text-align: right;
        font-size: 12px;
        border-bottom: 8px solid $border-color;
        span {
            font-weight: bold;
            color: $main-color;
        }
    }
    &-jine {
        font-size: 16px;
    }
}

.account {
    position: fixed;
    bottom: 0;
    left: 0;
    @include size(100%, 50px);
    @include colbg($tre-color,
    $white-color);
    border-top: 1px solid $border-color;
    &-choose {
        width: 60px;
    }
    &-choice {
        padding: 4px 0 0 22px;
    }
    &-price {
        flex: 1;
        font-weight: 600;
		color: $main-color;
		font-size: 20px;
        padding: 0 20px 0 4px;
    }
    &-btn {
		@include size(100px,50px);
		text-align: center;
		line-height: 50px;
		background-color: $nine-color;
		color: $white-color;
        &.btn_sty {
            background-color: $main-color;
        }
    }
}

/*自己定义的模态框*/

.model_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    display: none;
}

.my_model {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    width: 300px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
}

.my_model .title {
    color: #333;
}

.my_model .title .closeModel {
    float: right;
    cursor: pointer;
}

.my_model .opBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.my_model .opBtn a {
    font-size: 12px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
}

.my_model .dialog-sure {
    background: $gold-color;
    color: #fff;
}

.my_model .dialog-close {
    background: lightblue;
    color: $white-color;
}