$main-color: #EB4949;
$deputy-color: #1BB785;
$blue-color: #4099dd;
$gold-color: #FFBC4F;
$gray-color: #929292;
$tre-color: #333;
$four-color: #444;
$six-color: #666;
$nine-color: #999;
$white-color: #fff;
$bg-color: #f5f5f5;
$border-color: #efefef;
$ccc-color: #ccc;

$border: 1px solid $border-color;
$btm-size: 60px;
$ful-width: 100%;

